html, body{
    padding:0;
    margin:0;
   overflow: hidden;
   color:whitesmoke;
   font-family: 'Tahoma';
}
input[type="color"] {
  background: none;
  margin: 0;
  outline: none;
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  }

input[type="range"]{
  width: 250px;
  accent-color: #ffc444;
  height: 30px;
  border-radius: 1px;
  background: #e0e7ef;
  outline: none;
}
input[type="number"]{
  width: 40px;
  position: absolute;

  right: 0;
  background-color: #222222;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  color: whitesmoke;
  z-index: 100;
}


  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
.preferences{
    width: 500px;
    height: calc(100% - 110px);
    position: absolute;
    left: 20px;
    top: 90px;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;

    .cont{
        height: 70px;
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: 25px;
    }

}
 

.tabs {
  width: 100%;
  height: 100%;
  .tab-headers {
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    
  }
  .tab-header {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-size: 14px;
    outline: none;
    color: gray;
    
  }
  .tab-header.active {
    border-bottom: 2px solid #ffc444;
    color: #ffc444;
    font-weight: bold;
  }
  .tab-content {
    display: none;
  }
  .tab-content.active {
    display: block;
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
}
  
  
  .preferences-block-simple, .preferences-block-switch {
    width: 450px;
    color: whitesmoke;
    label, div, input{
      color: #999999;
    }
    .accordion-header {
      width: 100%;
      font-size: 16px;
      background-color: rgb(40, 40, 40);
      border-radius: 10px;
      height: 50px;
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;
      transition: border-radius 0.3s step-end;
      .inset{
        width: 420px;
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    
    .accordion-header.active {
      border-radius: 10px  10px 0px 0px;
      transition: border-radius 0.3s step-start;
    }
    
    .accordion-content {
      max-height: 0;
      min-height: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(40, 40, 40);
      border-radius: 0 0 10px 10px;
      color: black;
      width: 450px;
  
      gap: 10px;
      transition: 0.3s linear;


      #controls{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        width: 400px;
      }
      .control-group
      {
        width: 400px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
    
    .accordion-content.open {
      overflow: visible;
      min-height: 70px;
      max-height: 100vh;
    }
  }
  
.preferences-block-switch{
  .accordion-header {
    cursor: default;
    pointer-events: none;
  }

    
  .switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    cursor: pointer;
    pointer-events: all;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #333333;
    transition: background 0.2s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: transform 0.2s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #e7ae31;
  }
  
  input:checked + .slider:before {
    transform: translateX(22px);
  }
  }

.hdri-selector {
  position: relative;
  width: 350px;
  user-select: none;
  font-family: inherit;
  z-index: 10;
  .hdri-current {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 6px ;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    transition: border-color 0.2s;

  }
  
  .hdri-current:hover {
    border-color: #4e8cff;
  }
  
  #hdri-preview {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  
  .hdri-list {
    display: none;
    position: absolute;
    top: 170px;
    left: 5px;
    width: 100%;
    background: #222222;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.30);
    z-index: 100;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: thin
  }
  body::-webkit-scrollbar-track {
  background: #333; /* Цвет дорожки */
}
  
  .hdri-list.open {
    display: block;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-8px);}
    to   { opacity: 1; transform: translateY(0);}
  }
  
  .hdri-option {
    display: flex;
    align-items: center;
    padding: 5px 14px;
    cursor: pointer;
    transition: background 0.15s;
  }
  
  .hdri-option:hover {
    background: #333;
  }
  
  .hdri-option img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #ccc;
    background: #333;
  }
}


.material-pipeline-group {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-top: 20px;

  .material-pipeline-radio {
  position: relative;
  display: inline-block;
  }

.material-pipeline-radio input[type="radio"] {
  display: none;
}

.material-pipeline-radio label {

  display: inline-block;
  width: 133px;
  height: 30px;
  background: #222222;
  color: #444;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #212121;
  cursor: pointer;
  transition: 
    background 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.03);
  text-align: center;
  line-height: 30px;
}

.material-pipeline-radio input[type="radio"]:checked + label {
  background: #ffc444;
  color: #fff;
  border-color: #ffc444;
  box-shadow: 0 4px 16px rgba(78,140,255,0.08);
}

.material-pipeline-radio label:hover {
  border-color: #ffc444;
}
}

#textureHolder{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}